.envelope {
      background: rgba(0, 0, 0, .75);
      height: 81vh;
}


.card_envelope {
      position: relative;
      top: 10px;
      margin-left: 10%;
      -webkit-box-shadow: 3px 28px 8px 12px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 3px 28px 8px 12px rgba(34, 60, 80, 0.2);
      box-shadow: 3px 28px 8px 12px rgba(34, 60, 80, 0.2);
      width: 65%;
      height: 79vh;
}

.envelope_main {
      width: 100%;
      height: 8%;
      border: 1px solid silver;

}

.encelope_bottom {
      width: 35%;
      border-right: 2px solid silver;
}

.envelope_p {
      margin-top: -2.5rem;
      margin-left: 13rem;
}

.envelope_content {
      width: 100%;
      height: 92%;
}

.envelope_content .envelope_left {
      width: 35%;
      border: 1px solid silver;
      height: 100%;

}


.envelope_content .envelope_right {
      width: 65%;
      height: 100%;
      border: 1px solid silver;

}

.envelope_content .envelope_left .box {
      width: 100%;
      height: 15%;
}

.envelope_content .envelope_left img {
      max-width: 70px;
      min-height: 40px;
}


@media (max-width: 576px) {
      .envelope {
            padding: 10px;
      }

      .card_envelope {
            position: relative;
            top: 0;
            margin-left: 0;
            -webkit-box-shadow: 3px 28px 8px 12px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 3px 28px 8px 12px rgba(34, 60, 80, 0.2);
            box-shadow: 3px 28px 8px 12px rgba(34, 60, 80, 0.2);
            width: 100%;
            height:auto;
      }

      .encelope_bottom {
            width: 60%;
            border-right: none;
      }

}